<script>
  $('#disiplin').select2();
  $(document).on('click','#simpanAktifitas',function(e){
    e.preventDefault();
    var namaAktifitas = $('#nama_aktifitas').val();
    var disiplin = $('#disiplin').val();
    var id_aktifitas = $('#id_aktifitas').val();
    $('#simpanAktifitas').text('Loading...');
    if (id_aktifitas == "") {
      $.ajax({
        url: "/transaksi/activities/create",
        method: 'POST',
        data : {
          authenticity_token: '<%= form_authenticity_token %>',
          nama_aktifitas:namaAktifitas,
          disiplin:disiplin
        },
        success: function(data)
        {
          if (data['status'] == 200) {
            window.location = "/master/index?pilihan=Aktifitas";
          }
        }
      });
    }else{
      $.ajax({
        url: "/transaksi/activities/update",
        method: 'PUT',
        data : {
          authenticity_token: '<%= form_authenticity_token %>',
          nama_aktifitas:namaAktifitas,
          disiplin:disiplin,
          id_aktifitas:id_aktifitas
        },
        success: function(data)
        {
          if (data['status'] == 200) {
            setInterval(function() {
              window.location = "/master/index?pilihan=Aktifitas";
            }, 500);
          }
        }
      });
    }
  });

  $(document).on('click', '#ubahAktifitas', function(e){
    e.preventDefault();
    var id = $(this).data('id');
    $('#id_aktifitas').empty();
    $('#nama_aktifitas').empty();
    $('#disiplin').empty();
    $('.modal-title').text('Ubah Data');
    $.ajax({
      url: "/transaksi/activities/detail",
      method: 'GET',
      data : {
        id:id
      },
      success: function(data)
      {
        $('#id_aktifitas').val(id);
        $('#nama_aktifitas').val(data['data']['nama_aktifitas']);
        for (let i = 0; i < data['disiplin'].length; i++) {
          const element = data['disiplin'][i];
          if (element['id'] == data['data']['disipline_id']) {
            $('#disiplin').append(`
              <option value="${element['id']}" selected>${element['nama_disiplin']}</option>
            `);
          }else{
            $('#disiplin').append(`
              <option value="${element['id']}">${element['nama_disiplin']}</option>
            `);
          }
        }
      }
    });
  });

  $(document).on('click', '.tambah-aktifitas', function(){
    var id = 1;
    $('#nama_aktifitas').val('');
    $('#disiplin').empty();
    $('#id_aktifitas').val('');
    $('.modal-title').text('Tambah Data');
    $.ajax({
      url: "/transaksi/activities/disiplines",
      method: 'GET',
      data : {
        authenticity_token: '<%= form_authenticity_token %>',
        id:id
      },
      success: function(data)
      {
        for (let i = 0; i < data['data'].length; i++) {
          const element = data['data'][i];
          $('#disiplin').append(`
            <option value="${element['id']}">${element['nama_disiplin']}</option>
          `);
        }
      }
    });
  });

  $(document).on('click','#hapusAktifitas',function(e){
    e.preventDefault();
    var id = $(this).data('id');
    $.ajax({
      url: "/transaksi/activities/delete",
      method: 'DELETE',
      data : {
        authenticity_token: '<%= form_authenticity_token %>',
        id:id
      },
      success: function(data)
      {
        if (data['status'] == 200) {
          window.location.href = "/master/index?pilihan=Aktifitas";
        }
      }
    });
  });
</script>